@import url('https://fonts.googleapis.com/css?family=Montserrat|Oleo+Script');

.hero {
  background-image: url(https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-0.3.5…EyMDd9&s=a00dd14…&auto=format&fit=crop&w=1504&q=80);
  background-color: hsla(0,0%,0%,50%);
  background-blend-mode: darken;
  background-position-y: bottom;
  background-position-x: center;

  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  margin-bottom: 3em;

  /* for parallax effect */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  font-family: 'Oleo Script', serif;
  font-size: 6em;
  line-height: 1.1;
  color: white;
}

.subtitle {
  color: hsl(0, 75%, 75%);
  display: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
}
