html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #fafafa;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration-style: dotted;
}

.intro {
  color: hsl(0, 75%, 75%);
  text-align: center;
  margin-bottom: 3em;
  margin-top: 3em;
}

.blog-post-preview-link,
.blog-post-preview-link:link,
.blog-post-preview-link:visited,
.blog-post-preview-link:hover,
.blog-post-preview-link:active {
  text-decoration: none;
}

.blog-post-preview {
  border-radius: 1em;
  color: white;
  font-weight: 800;
  margin-bottom: 1em;
  padding: 1em;
  transition: 0.5s;
  width: 100%;
}

.blog-post-preview:hover {
  background-blend-mode: darken;
  background-color: hsla(0,0%,0%,50%);
}
