.footer {
  font-family: 'Montserrat', sans-serif;
  height: 150px;
  padding-top: 50px;
  text-align: center;
}

.attribution {
  color: hsl(0, 75%, 75%);
  font-size: 1.5em;
  padding-bottom: 1em;
}
